/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: vine;
  src: url(/fonts/VINERITC.TTF);
}
header {
  /* Hover effects */
  /* responsive navbar toggle button */
}
header .navbar {
  height: 70px;
  width: 100%;
  padding: 14px 30px;
  position: relative;
}
header .navbar .nav-header {
  display: inline;
}
header .navbar .nav-header .nav-logo {
  display: inline-block;
  margin-top: -7px;
  position: absolute;
  z-index: 10;
}
header .navbar .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
header .navbar .nav-links .loginBtn {
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: black;
}
header .navbar .nav-links a {
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: black;
}
header .navbar .nav-links a:hover {
  background-color: #8CD827;
}
header .navbar #nav-check, header .navbar .nav-btn {
  display: none;
}
@media (max-width: 700px) {
  header {
    /* when nav toggle button not checked */
    /* when nav toggle button is checked */
  }
  header .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
  }
  header .navbar .nav-btn label {
    display: inline-block;
    width: 80px;
    height: 70px;
    padding: 25px;
  }
  header .navbar .nav-btn label span {
    display: block;
    height: 4px;
    width: 32px;
    background-color: green;
    margin-bottom: 10px;
    border: 5%;
  }
  header .navbar .nav-btn label #top {
    width: 15px;
  }
  header .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    background-color: #a2a2a2;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 0px;
    right: 0px;
  }
  header .navbar .nav-links a {
    display: block;
  }
  header .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  header .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: auto;
    padding-top: 100px;
  }
  header .navbar .nav-links .loginBtn {
    padding: 10px 40px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #8CD827;
    color: black;
    border: none;
    border-radius: 10px;
  }
}

button {
  background-color: #8CD827;
  box-shadow: 0px 20px 19px -17px rgba(0, 0, 0, 0.75);
  height: 5vh;
  width: 150px;
  border: none;
  border-radius: 10px;
}

#banner {
  padding: 3em 0 2em 0;
  height: 50vh;
  overflow-x: hidden;
}
#banner .container {
  display: flex;
}
#banner .container .banner-info {
  width: 70%;
  padding-left: 10px;
}
#banner .container .banner-info h1 {
  font-size: 23px;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
#banner .container .banner-info h1 strong {
  color: #8CD827;
}
#banner .container .banner-info h1 span {
  display: block;
}
#banner .container .banner-info p {
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;
}
#banner .container .banner-info p span {
  display: block;
}
#banner .container .banner-info button {
  background-color: #8CD827;
  box-shadow: 0px 20px 19px -17px rgba(0, 0, 0, 0.75);
  height: 5vh;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
#banner .container .banner-imgs {
  width: 30%;
  margin-right: 35px;
}
#banner .container .banner-imgs .img {
  width: 200px;
  height: 70%;
}
#banner .container .banner-imgs .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#banner .container .banner-imgs #chev {
  display: none;
}

@media screen and (min-width: 768px) {
  #banner .container .banner-info {
    padding-left: 10px;
  }
  #banner .container .banner-info h1 {
    font-size: 45px;
    padding-bottom: 30px;
  }
  #banner .container .banner-info p {
    padding-bottom: 30px;
    font-size: 28px;
  }
  #banner .container .banner-info button {
    height: 6vh;
    width: 250px;
    font-size: 25px;
  }
  #banner .container .banner-imgs {
    margin-right: 25px;
  }
  #banner .container .banner-imgs .img {
    width: 250px;
    height: 50%;
  }
  #banner .container .banner-imgs .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #banner .container .banner-imgs #chev {
    display: list-item;
    list-style: none;
  }
}
#free {
  height: 50vh;
  padding: 3em 0 2em 0;
}
#free .container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
#free .container .free-img {
  width: 40%;
  height: 60%;
  margin-top: 30px;
}
#free .container .free-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#free .container .free-info {
  width: 50%;
}
#free .container .free-info h2 {
  font-size: 46px;
  font-family: "vine";
}
#free .container .free-info ul {
  padding-left: 20px;
}
#free .container .free-info ul li {
  list-style: disc;
  font-weight: bold;
  font-size: 17px;
}
#free .container .free-info p {
  font-size: 13px;
  font-style: italic;
  padding-top: 13px;
}

@media screen and (min-width: 768px) {
  #free {
    padding: 3em 0 2em 0;
  }
  #free .container {
    padding: 0 20px 0 20px;
  }
  #free .container .free-img {
    width: 40%;
    height: 60%;
    margin-top: 30px;
  }
  #free .container .free-info {
    width: 50%;
  }
  #free .container .free-info h2 {
    font-size: 66px;
    padding-bottom: 20px;
  }
  #free .container .free-info ul {
    padding-left: 20px;
  }
  #free .container .free-info ul li {
    font-size: 27px;
  }
  #free .container .free-info p {
    font-size: 25px;
    padding-top: 25px;
  }
}
#services {
  padding: 2em 0 2em 0;
}
#services h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 50px;
}
#services .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#services .container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #C4C4C4;
  width: 132px;
  height: 112px;
  margin-bottom: 20px;
  border-radius: 0 0 15px 15px;
  box-shadow: 10px 5px 49px -17px rgba(0, 0, 0, 0.75);
}
#services .container .card img {
  width: auto;
  height: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}
#services .container .card p {
  font-weight: bold;
  padding: 10px 0 5px 0;
  text-align: center;
}
#services .container .card p span {
  display: block;
}

@media only screen and (min-width: 414px) {
  #services .container .card {
    justify-content: space-evenly;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  #services {
    height: 60vh;
    padding: 2em 0 2em 0;
  }
  #services h2 {
    font-size: 40px;
    padding-bottom: 40px;
  }
  #services .container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #services .container .card {
    width: 200px;
    height: 200px;
  }
  #services .container .card img {
    height: 45%;
  }
  #services .container .card p {
    font-size: 25px;
  }
}
#perfection {
  padding: 3em 0 3em 0;
  height: 150vh;
}
#perfection h3 {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 0 20px 0;
  font-size: 20px;
}
#perfection .card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-direction: column;
  margin-bottom: 10px;
}
#perfection .card .img {
  width: 80%;
  height: 200px;
}
#perfection .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#perfection .card p {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding: 20px 0 10px 0;
  text-align: center;
}
#perfection .card p span {
  display: block;
}

@media screen and (min-width: 768px) {
  #perfection {
    padding: 5em 0 3em 0;
    height: 85vh;
  }
  #perfection h3 {
    padding-bottom: 40px;
    font-size: 40px;
  }
  #perfection .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #perfection .container .card {
    margin-bottom: 20px;
    width: 45%;
  }
  #perfection .container .card .img {
    width: 100%;
    height: 200px;
  }
  #perfection .container .card p {
    font-size: 27px;
  }
}
#quotation {
  background: #8CD827;
  padding: 3em 0 3em 0;
}
#quotation h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}
#quotation p {
  font-size: 18px;
  font-weight: lighter;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 20px;
}
#quotation form {
  text-align: center;
}
#quotation form input, #quotation form textarea {
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 40px;
  padding-left: 20px;
}
#quotation form textarea {
  height: 150px;
}
#quotation form button {
  width: 200px;
  height: 50px;
  background-color: D4D3D3;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  #quotation h2 {
    font-size: 40px;
  }
  #quotation p {
    font-size: 27px;
  }
  #quotation form input, #quotation form textarea {
    height: 50px;
    font-size: 27px;
  }
  #quotation form textarea {
    height: 180px;
    font-size: 27px;
  }
  #quotation form button {
    font-size: 30px;
  }
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
#contact .inner {
  border-radius: 10px;
  box-shadow: 10px 5px 49px -17px rgba(0, 0, 0, 0.75);
  width: 90%;
  display: flex;
  height: 60%;
}
#contact .inner .img {
  width: 30%;
  height: 100%;
}
#contact .inner .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0 0 10px;
}
#contact .inner .info {
  padding: 5px 10px 5px 10px;
}
#contact .inner .info h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 5px;
}
#contact .inner .info p {
  font-size: 16px;
  font-weight: lighter;
}
#contact .inner .info p span {
  display: block;
  font-weight: bold;
}
#contact .inner .info .hours {
  padding-top: 10px;
}
#contact .inner .info .phone {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
#contact .inner .info .phone img {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  #contact {
    height: 45vh;
  }
  #contact .inner {
    width: 90%;
    height: 60%;
  }
  #contact .inner .img {
    width: 30%;
    height: 100%;
  }
  #contact .inner .info {
    padding-left: 30px;
  }
  #contact .inner .info h3 {
    font-size: 40px;
    padding-bottom: 5px;
  }
  #contact .inner .info p {
    font-size: 27px;
  }
  #contact .inner .info .hours {
    padding-top: 10px;
  }
  #contact .inner .info .phone {
    padding-top: 20px;
  }
}
footer .container .col-md-4 .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
footer .container .col-md-4 .inner h3 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
}
footer .container .col-md-4 .inner p {
  font-size: 18px;
}
footer .container .col-md-4 .inner a {
  color: black;
  padding-bottom: 10px;
  text-decoration: none;
}
footer #copy {
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  footer .container {
    display: flex;
  }
  footer .container .col-md-4 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  footer .container .col-md-4 .inner h3 {
    font-size: 40px;
  }
  footer .container .col-md-4 .inner p {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
  footer .container .col-md-4 .inner a {
    color: black;
    padding-bottom: 10px;
    font-size: 20px;
  }
  footer #copy {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */